{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{deps, []}.

{post_hooks, [
    {edoc, "escript priv/scripts/generate-doc-chunks.escript neo"},
    {eunit, "escript priv/scripts/generate-lcov.escript"}
]}.

{project_plugins, [
    covertool,
    erlfmt,
    rebar3_ex_doc,
    rebar3_lint
]}.

{erlfmt, [
    write,
    {print_width, 88},
    {files, [
        "{src,include,test}/**/*.{hrl,erl}",
        "rebar.config{,script}",
        "priv/scripts/*.escript"
    ]}
]}.

%% Use --cover to enable
{cover_enabled, false}.
{cover_opts, [verbose]}.
{cover_excl_mods, [

    neo_test_helpers
]}.
{covertool, [
    {coverdata_files, ["ct.coverdata", "eunit.coverdata"]},
    {prefix_len, 2},
    {summary, true}
]}.

%% Adjusted in rebar.config.script
{eunit_tests, [
    {inparallel, {application, neo}},
    {inorder, [neo_ets, neo_persistent_term, neo_stream_test]}
]}.
{eunit_opts, [
    no_tty,
    {report, {unite_compact, []}},
    {timeout, 3}
]}.

%% https://www.erlang.org/doc/man/edoc.html#run-2
{edoc_opts, [
    {preprocess, true},
    {hidden, true},
    {private, true},
    {todo, true}
]}.

{ex_doc, [
    {extras, ["README.md", "LICENSE"]},
    {main, "README.md"},
    {source_ref, "master"},
    {deps, [
        {eon, "https://github.com/kivra/eon"}
    ]},
    {skip_code_autolink_to, [
        <<"eon">>
    ]}
]}.

%% https://www.rebar3.org/docs/configuration/configuration/#xref
%% https://www.erlang.org/doc/man/xref.html#analyze-3
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    %% exports_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.


{shell, [
    %% {config, "config/sys.config"}
]}.

{profiles, [
    {test, [
        {erl_opts, [
            debug_info

        ]},
        {deps, [
            erlfmt,
            %% Need to track master here because there hasn't been a tag/release in years
            {proper, {git, "git@github.com:kivra/proper.git", {branch, "master"}}},
            {unite, "~> 0.4.3"}
        ]}
    ]},
    {docs, [
        {deps, []}
    ]}
]}.
